* {
  margin: 0;
  padding: 0;
}

#input-latex,
#output-latex {
  width: 200px;
  height: 20px;
  font-size: 16px;
}

#output-latex {
  border: 2px solid red;
  border-radius: 30px;
  justify-content: center;
  width: 500px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.d-none {
  display: none !important;
}
